<header class="header-bar">
  <div class="logo" (click)="voltarTelaHome()">
    <img src="../../assets/logo.png" alt="Logo da Empresa" height="100" >
  </div>

  <div class="title">
    <h2>{{ ultimoCadastro }}</h2>
  </div>
</header>

<div class="container">
  <div class="table">
    <table>
      <tr>
        <th>NOME</th>
        <th>SOBRENOME</th>
        <th>DATA</th>
        <th>E-MAIL</th>
        <th>CPF</th>
      </tr>
      <tr *ngFor="let registro of dados">
        <td>{{ registro.nome }}</td>
        <td>{{ registro.sobrenome }}</td>
        <td>{{ registro.dataNascimento }}</td>
        <td>{{ registro.email }}</td>
        <td>{{ registro.cpf }}</td>
      </tr>
    </table>
  </div>
</div>
