<header class="header-bar">
  <div class="logo" (click)="voltarTelaHome()">
    <img src="../../assets/logo.png" alt="Logo da Empresa" height="100" >
  </div>

  <div class="title">
    <h2>{{ dados.nome }} {{ dados.sobrenome }}</h2>
  </div>
</header>

<div class="container">
  <div class="table">
    <table>
      <tr>
        <th>NOME</th>
        <th>SOBRENOME</th>
        <th>DATA</th>
        <th>E-MAIL</th>
        <th>CPF</th>
      </tr>
      <tr>
        <td>{{ dados.nome }}</td>
        <td>{{ dados.sobrenome }}</td>
        <td>{{ dados.dataNascimento }}</td>
        <td>{{ dados.email }}</td>
        <td>{{ dados.cpf }}</td>
      </tr>
    </table>
  </div>
</div>
