<div class="container">
  <div class="logo">
    <img src="../../assets/logo.png" alt="Logo da Empresa">
  </div>
  <div class="table">
    <h2>Dados Cadastrados</h2>
    <table>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Data de Nascimento</th>
        <th>E-mail</th>
        <th>CPF</th>
      </tr>
      <tr>
        <td>{{ dados.nome }}</td>
        <td>{{ dados.sobrenome }}</td>
        <td>{{ dados.dataNascimento }}</td>
        <td>{{ dados.email }}</td>
        <td>{{ dados.cpf }}</td>
      </tr>
    </table>
  </div>
</div>
